<div class="furniture">
    <!-- <h4>:</h4> -->
    <div class="furniture-group">
        <div class="item-furniture"><img class="furniture-image" src="../../../../assets/free-icon-wifi-93158.png"
                alt="">
        </div>
        <div class="item-furniture"><img class="furniture-image" src="../../../../assets/free-icon-couch-3011568.png"
                alt=""></div>
        <div class="item-furniture"><img class="furniture-image" src="../../../../assets/free-icon-kitchen-2852011.png"
                alt=""></div>
        <div class="item-furniture"><img class="furniture-image"
                src="../../../../assets/free-icon-laundry-service-3929089.png" alt=""></div>
        <div class="item-furniture"><img class="furniture-image" src="../../../../assets/free-icon-boiler-4427219.png"
                alt=""></div>
        <div class="item-furniture"><img class="furniture-image" src="../../../../assets/free-icon-sink-3939855.png"
                alt="">
        </div>
        <!-- <div class="item-furniture"><img class="furniture-image"
        src="../../../../assets/free-icon-laundry-service-3929089.png" alt=""></div>
  </div> -->
    </div>