<div class="container-box">
  <div class="furniture">
    <!-- <h4>:</h4> -->
    <div class="furniture-group">

      <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
        <div class="card m-2">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <div class="item-wrapper p-2">
                <div class="content">
                  <div class="content-description">
                    <p>Меблі</p>
                    <h3></h3>
                  </div>
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>

                  <span class="checkBox-span">Диван<span class="status"></span>
                  </span>

                  <i></i>
                </div>

                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Ліжко<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Крісло<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <!-- <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">WIFI<span class="status"></span>
                  </span>

                  <i></i>
                </div> -->
                <div class="content-description">
                  <p>Сан вузол</p>
                  <h3></h3>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Душова<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Ванна<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Раковина<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content-description">
                  <p>Техніка</p>
                  <h3></h3>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">WIFI роутер<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Телевізор<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Радіо<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Пральна машина<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Холодильник<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Посудомийка<span class="status"></span>
                  </span>

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Чайник<span class="status"></span>
                  </span>

                  <i></i>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>


    </div>
  </div>
</div>