<div class="container-box">
  <div class="furniture">
    <!-- <h4>:</h4> -->
    <div class="furniture-group">

      <div class="card-box col-lg-4 col-md-5 col-sm-6 col-12">
        <div class="card m-2">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <div class="item-wrapper p-2">
                <div class="content">
                  <div class="content-description">
                    <p class="content-subtitle">Меблі</p>
                    <h3></h3>
                  </div>
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>

                  <span class="checkBox-span">Диван<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-sofa-2887417.png" alt="sofa">

                  <i></i>
                </div>

                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Ліжко<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-double-bed-3159474.png" alt="bed">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Крісло<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-armchair-253412.png" alt="armchair">

                  <i></i>
                </div>
                <!-- <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">WIFI<span class="status"></span>
                  </span>

                  <i></i>
                </div> -->
                <div class="content-description">
                  <p class="content-subtitle">Сан вузол</p>
                  <h3></h3>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Душова<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-shower-2425854.png" alt="sofa">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Ванна<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-bath-tub-2963922.png" alt="sofa">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Раковина<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-sink-3939855.png" alt="sofa">

                  <i></i>
                </div>
                <div class="content-description">
                  <p class="content-subtitle">Техніка</p>
                  <h3></h3>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">WIFI роутер<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-wifi-93158.png" alt="wifi">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Телевізор<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-tv-4463440.png" alt="sofa">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Радіо<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-radio-2811911.png" alt="sofa">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Пральна машина<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-laundry-service-3929089.png" alt="sofa">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Холодильник<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-fridge-483850.png" alt="sofa">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Посудомийка<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-dish-washer-5056327.png" alt="sofa">

                  <i></i>
                </div>
                <div class="content">
                  <label class="checkBox">
                    <input id="students" type="checkbox" name="students">
                    <div class="transition"></div>
                  </label>
                  <span class="checkBox-span">Чайник<span class="status"></span>
                  </span>
                  <img class="furn" src="../../../../assets/free-icon-kettle-5346775.png" alt="sofa">

                  <i></i>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>


    </div>
  </div>
</div>