<div class="services">
  <h4>Замовити послугу:</h4>
  <div class="services-group">
    <div class="item-services">
      <h6>Сантехнік</h6>
    </div>
    <div class="item-services">
      <h6>Cлужба доставки</h6>
    </div>
    <div class="item-services">
      <h6>Інтернет провайдер</h6>
    </div>
    <div class="item-services">
      <h6>Електрик</h6>
    </div>
    <!-- <div class="item-services">
    </div> -->
    <!-- <div class="item-services"><img class="services-image"
      src="../../../../assets/free-icon-laundry-service-3929089.png" alt=""></div>
</div> -->
  </div>